[Unit]
Description=somni RPi-SenseStation Shutdown
DefaultDependencies=no
Before=halt.target shutdown.target reboot.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /opt/somni/sensehat-status/shutdown.sh
RemainAfterExist=yes

[Install]
WantedBy=halt.target shutdown.target reboot.target
